body{
    font-family:Verdana, Geneva, sans-serif;
    font-size:12px;
    background-color:darkgrey;
    background-image: image(Assets\img\banner.jpg).jpg ;
   }
   
   ul {
   margin: 0;
    padding:0;
   }
   
   li {
    list-style: none; 
    margin: 10px;
    display: inline;
   }
   li a {
    padding: 5px 10px; 
    margin:0;
    border: 0px solid rgb(255, 244, 244); 
    background: rgb(0, 0, 0);
    text-decoration: none;
    color:#FFF;
    /* cantos arredondados */
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
   }
   li a:hover {
    background: #000000;
    color: #000; 
    border-color: #000;
   }



