body{
    font-family:Verdana, Geneva, sans-serif;
    font-size:12px;
    background-color:rgb(107, 105, 105);
    color: #000000
    
   }
   
   #nav-list {
   margin: 0% ;
   padding:50px;
   }
   
   li {
    list-style: none; 
    margin: 10px;
    display:inline;
   }
   li a {
    padding: 5px 10px; 
    margin:0;
    border: 0px solid rgb(253, 251, 251); 
    background: rgb(0, 0, 0);
    text-decoration: none;
    color:#ffffff; 
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
   }
   li a:hover {
    background: #888888;
    color: #585858; 
    border-color: #000;
   }



